// Colors
$appActionColor: #69C9A0;;
$appActionColorHovered: #58b303ea;
$grayBorderColor: #C9CDE8;
$redWarningColor: #FF0000;
$whiteColor: #FFFFFF;
$blackColor: #13141F;
$selectedBlackColor: #262626;
$mainBackgroundColor: #E5E5E5;
$hoveredItemColor: #EDEFF3;
$avatarBackgroundColor: #5D80D3;
$appDeviderLineColor:#C9CDE8;

// Font colors
$fontColorWhite: #FFFFFF;
$fontColorBlack: #171D35;
$fontColorGray:  #A1A5C0;
$fontColorSidebarGray: #676771;
$fontColorBlue: #2F80ED;
$fontColorBlueHovered: #87baff;
$fontColorOrange: #FA6A0A;

// Font sizes
$fontSizeActionButtonMinified: 12px;
$fontSizeTitle: 28px;
$fontSizeModalTitle: 22px;
$fontSizeStandart: 16px;
$fontSizeMinified: 14px;
$fontSizeTitleMobile: 14px;
$fontSizeCurrentDayMobile: 11px;
$fontSizeClosedValueMobile: 14px;

// Font weights
$bolderFont: 500;
